.popup{
    display: none;
    position: absolute;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 50;
}
.order_popup{
    display: none;
    margin-top: 10px;
}
table {
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
}
.clickable{
    cursor: pointer;
}
.modal-footer{
    border-top: none !important;
}

.col-md-6{
    padding-left: 0px;
}
.modal-dialog{
    width: 90%;
}
.clonedSection{
    border: 1px solid black;
    padding: 15px;
}
th.verticalTableHeader {
    /* Something you can count on */
    height: 200px;
    white-space: nowrap;
}

th.verticalTableHeader > div {
    transform:
        /* Magic Numbers */
            translate(25px, 51px)
                /* 45 is really 360 - 45 */
            rotate(90deg);
    padding-top: 29px;
}